h1{background-color: rgb(90, 8, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color:brown;}
body{background-color: black;
    color:rgb(255, 255, 255);}
p{font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
padding: 1px;
margin: 20px;
text-align: center;}
h2{margin: 10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 19px;
padding: 14px;
text-align: center;}
h3{margin: 10px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 19px;
padding: 14px;
text-align: center;}
.container {max-width: 800px;
margin: auto;
padding: 20px;
text-align: center;}
.row{display: flex;
flex-wrap: wrap;
margin: 10px;}
.column{flex: 1;
padding: 10;}
@media (max-width: 100px) {
    .column  { flex: 100%;} } 
.cuadro {text-align: center;
    height: 60px;
    width: 350px;
    background-color: brown; 
    font-size: 2px;
    padding: 5px;    
    margin: 20px 0px 0px 480px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.cuadro2 {

font-family: Verdana, Tahoma, sans-serif; 
background-color: rgb(100, 52, 52);
height: 15px;
width: 100px;
font-size: 10px;
padding: 5px;                   
margin: 10px 0px 0px 136px;
border: 2px solid rgb(87, 0, 0);
}
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .brand {
    display: flex;
    align-items: center;
  }
  li>a {
    padding: 8px 24px;
  }
  li {
    list-style-type: none;
  }
  a {color: white;
    text-decoration:none;}
  .nav-links {
    display: flex;
    align-items: center;
  }
  .button-menu-toggle {
    display: none;
  }
  @media (max-width: 768px) {
    .column {
      flex: 100%;
    }
    .nav-links {
      display: none;
     }
    .button-menu-toggle {
      display: block;
      background-color: white;
      border:none;
      border-radius: 50px;
      padding: 0 24px;
      font-family: monospace;
      font-weight: bold;
      font-size: 20px;
    }
    .nav-links.nav-links-responsive {
      position: absolute;
      display: flex;
      background-color: rgba(20,20,20,0.95);
      width: 100%;
      height: 100%;
      top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      align-items: center;
      gap:70px;
      font-size: 40px; }}
      .ul {margin: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 19px;
        padding: 14px;
        text-align: center;}
        .fotitos {display:flex;
        flex-wrap: wrap;}